examples/example-flow.json
[{"id":"ba76a6fed4b8bf22","type":"inject","z":"d6fad9e77ecc8414","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1060,"wires":[["bd5fc0f50670353b"]]},{"id":"a7865ab4af19b1dd","type":"debug","z":"d6fad9e77ecc8414","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1060,"wires":[]},{"id":"bd5fc0f50670353b","type":"example-node","z":"d6fad9e77ecc8414","name":"","greeting":"","x":360,"y":1060,"wires":[["a7865ab4af19b1dd"]]}]